body { padding-top: 50px; }

.todo-whole-list {
    list-style: none;
    padding-left: 0;
}

.todo-whole-list li h3 {
    padding-bottom: 3px;
    border-bottom: 1px solid #999;
}

.todo-month-list {
    list-style: none;
    padding-left: 0;
    font-size: 1.2em;
}

.todo-month-list li {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.todo-month-list li .todo-detail-content {
    display: inline-block;
    width: calc(100% - 30px);
    height: 100%;
    padding: 5px 0;
}

.todo-month-list li:nth-child(odd) .todo-detail-content:hover {
    background: #f7ecb5;
}

.todo-month-list li:nth-child(even) .todo-detail-content:hover {
    background: #f7ecb5;
}

.todo-month-list li:nth-child(odd) .todo-detail-content {
    background: #eaf2ff;
}

.todo-item {
    border-bottom: 1px solid #999;
    padding-bottom: 10px;
}

.todo-item:last-child {
    border-bottom: none;
}

.todo-priority.fa-exclamation {
    background: #ff1822;
}

.todo-priority.fa-level-down {
    background: #3c75ff;
}

.todo-priority.fa-level-up {
    background: #3c763d;
}

.todo-priority {
    color: white;
    padding: 5px;
    border-radius: 6px;
    display: inline-block;
    width: 36px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 5px;
}

.todo-item h3 {
    line-height: 36px;
}

.todo-sub-list li {
    margin: 0;
    padding: 0;
}

.todo-month-list li span.todo-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 1.5em;
    text-align: center;
    line-height: 24px;
    vertical-align: middle;
    background: white;
}

.todo-list {
    list-style: none;
    padding-left: 0;
}

.todo-label-finished {
    background: #3c763d;
    color: white;
    padding: 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: 5px;
    font-size: 0.5em;
}

.todo-sub-title {
    padding-top: 5px;
    padding-bottom: 7px;
}

.todo-label-review {
    background: #d6803a;
    color: white;
    padding: 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: 5px;
    font-size: 0.5em;
}

.todo-label-wip {
    background: #af3670;
    color: white;
    padding: 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: 5px;
    font-size: 0.5em;
}

.todo-label-unset {
    background: #3c75ff;
    color: white;
    padding: 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: 5px;
    font-size: 0.5em;
}

.todo-label-abandon {
    background: #666666;
    color: white;
    padding: 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: 5px;
    font-size: 0.5em;
}

.todo-sub-list li .todo-icon {
    font-size: 1.5em;
    vertical-align: middle;
    display: inline-block;
    width: 24px;
}

.todo-finished-sub-text {
    color: #3c763d;
    font-style: italic;
}

.todo-abandon-sub-text {
    text-decoration: line-through;
    color: #999;
}

.todo-unset-sub-text {
    color: #999;
}

.todo-sub-list {
    list-style: none;
    padding-left: 0;
}

.todo-finish-time {
    margin-left: 15px;
    color: #999;
    font-style: italic;
}

.todo-sub-desc {
    padding-left: 5px;
    display: none;
}

.todo-month-list .todo-list-priority {
    color: white;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    text-align: center;
    line-height: 24px;
    margin-left: 5px;
}

.todo-month-list .todo-list-priority.fa-exclamation {
    background: #ff1822;
}

.todo-month-list .todo-list-priority.fa-level-up {
    background: #3c763d;
}

.todo-month-list .todo-list-priority.fa-level-down {
    background: #3c75ff;
}

.todo-month-list .todo-list-priority.abandon {
    background: #999;
}

.todo-item-title.finished {
    color: #3c763d;
    font-style: italic;
}

.todo-item-finish-time {
    color: #999;
    font-style: italic;
    margin-left: 10px;
    font-size: 0.7em;
}

.todo-item-title.unset {
    color: #999;
}

.todo-item-title.abandon {
    color: #999;
    text-decoration: line-through;
}

.todo-sub-field {
    background: #000;
    color: white;
    display: inline-block;
    text-align: center;
    padding: 3px 5px;
    margin: 2px 7px 2px 2px;
    font-size: 0.7em;
    border-radius: 3px;
}

.todo-item-progress {
    display: inline-block;
    width: 100px;
    height: 20px;
    margin: 2px 8px 0 0;
    padding: 0;
    vertical-align: middle;
}

.subtask-icon {
    display: inline-block;
    width: 26px;
    vertical-align: text-top;
    padding-top: 5px;
    margin: 0;
}

.subtask-content {
    display: inline-block;
    width: calc(100% - 30px);
    vertical-align: text-top;
    background: white;
    margin: 0;
}

.todo-sub-list li:nth-child(odd) .subtask-content {
    background: #eaf2ff;
}

.todo-sub-list li .subtask-content:hover {
    background: #f7ecb5;
}

.subtask-content .todo-sub-title {
    cursor: pointer;
}

.todo-report {
    list-style: none;
    padding: 0;
}

.todo-report > li {
    border-bottom: 1px solid #999;
    padding-bottom: 10px;
}

.todo-report > li:last-child {
    border-bottom: none;
}

.report-finished ul {
    list-style: disc;
}

.report-planed ul {
    list-style: circle;
}

.todo-report ul li:hover {
    background: #f7ecb5;
}