<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>question request</description>
    <display-name>question request</display-name>
    <servlet-name>QuestionServlet</servlet-name>
    <servlet-class>com.tecyle.question.servlet.QuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>answer request</description>
    <display-name>answer request</display-name>
    <servlet-name>AnswerServlet</servlet-name>
    <servlet-class>com.tecyle.question.servlet.AnswerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>description</description>
    <display-name>display</display-name>
    <servlet-name>ReloadQuestionsServlet</servlet-name>
    <servlet-class>com.tecyle.question.servlet.ReloadQuestionsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>description</description>
    <display-name>display</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.tecyle.question.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <description>description</description>
    <display-name>display</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.tecyle.question.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>description</description>
    <display-name>display</display-name>
    <servlet-name>LoginActionServlet</servlet-name>
    <servlet-class>com.tecyle.question.servlet.LoginActionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>description</description>
    <display-name>display</display-name>
    <servlet-name>GameOverServlet</servlet-name>
    <servlet-class>com.tecyle.question.servlet.GameOverServlet</servlet-class>
  </servlet>
  <servlet>
    <description>description</description>
    <display-name>display</display-name>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>com.tecyle.question.servlet.ManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>description</description>
    <display-name>display</display-name>
    <servlet-name>ViewServlet</servlet-name>
    <servlet-class>com.tecyle.question.servlet.ViewServlet</servlet-class>
  </servlet>
  <servlet>
    <description>description</description>
    <display-name>display</display-name>
    <servlet-name>SubmitServlet</servlet-name>
    <servlet-class>com.tecyle.question.servlet.SubmitServlet</servlet-class>
  </servlet>
  <servlet>
    <description>description</description>
    <display-name>display</display-name>
    <servlet-name>DatabaseAccessControlServlet</servlet-name>
    <servlet-class>com.tecyle.question.servlet.DatabaseAccessControlServlet</servlet-class>
  </servlet>
  <servlet>
    <description>description</description>
    <display-name>display</display-name>
    <servlet-name>TokensAccessControlServlet</servlet-name>
    <servlet-class>com.tecyle.question.servlet.TokensAccessControlServlet</servlet-class>
  </servlet>













  <servlet-mapping>
    <servlet-name>QuestionServlet</servlet-name>
    <url-pattern>/question.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AnswerServlet</servlet-name>
    <url-pattern>/answer.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReloadQuestionsServlet</servlet-name>
    <url-pattern>/yuduki/reloadQuestions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/test.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginActionServlet</servlet-name>
    <url-pattern>/signIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameOverServlet</servlet-name>
    <url-pattern>/gameOver.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/yuduki/manager.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewServlet</servlet-name>
    <url-pattern>/yuduki/view.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmitServlet</servlet-name>
    <url-pattern>/submit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DatabaseAccessControlServlet</servlet-name>
    <url-pattern>/questions.md</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TokensAccessControlServlet</servlet-name>
    <url-pattern>/tokens/*</url-pattern>
  </servlet-mapping>
    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>

</web-app>